.loginpage{
    background:url(rescources/backgrounds/background_loginpage.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Times, serif;

    font-size: 100%;
}

.startpage{
    background:url(rescources/backgrounds/background_start.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Times, serif;

    font-size: 100%;
}

.accountbeheer{
    background:url(rescources/backgrounds/Mos_Eisley.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Times, serif;

    font-size: 100%;
}

.useradd{
    background:url(rescources/backgrounds/useradd.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Times, serif;

    font-size: 100%;
}

.history{
    background:url(rescources/backgrounds/Bespin.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #111111;
    font-family: Times, serif;

    font-size: 100%;
}

.setcolor{
    color: yellow;
}
h1 {

    text-align: center;
    text-shadow: black;
    color: yellow;
    


}


.button {
    align-self: center;
    background-color: black;
    border-color:yellow;
    border-width:thin;
    color: yellow;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius:15%;
}

.button:hover {
    background-color: yellow;
    border-color:black;
    border-width:thin;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
}

h2{
    text-align: center;
    text-shadow: darkorange;
    color: darkorange;
    background-color: black;

}

.textbox {
    text-align: center;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}


div{
    font-style: italic;
    color: #111111;

}

h2+p{
    text-transform: uppercase;
    font-style: normal
}

#boven a:link {color:#C0C0C0; text-decoration:none }
#boven a:visited {color:#C0C0C0; text-decoration:none}
#boven a:hover {color:#ffcc00; text-decoration:none}

