<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controllers.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameTest</servlet-name>
        <servlet-class>controllers.game.GameTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersServlet</servlet-name>
        <servlet-class>controllers.gebruikers.AddUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetChoiceServlet</servlet-name>
        <servlet-class>controllers.gebruikers.ResetChoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayGame</servlet-name>
        <servlet-class>controllers.game.PlayGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayGameServlet</servlet-name>
        <servlet-class>controllers.game.PlayGameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayGameHitStandServlet</servlet-name>
        <servlet-class>controllers.game.PlayGameHitStandServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayAgainServlet</servlet-name>
        <servlet-class>controllers.game.PlayAgainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUsersServlet</servlet-name>
        <url-pattern>/AddUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetChoiceServlet</servlet-name>
        <url-pattern>/ResetChoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayGame</servlet-name>
        <url-pattern>/PlayGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayGameServlet</servlet-name>
        <url-pattern>/PlayGameServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayGameHitStandServlet</servlet-name>
        <url-pattern>/PlayGameHitStandServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayAgainServlet</servlet-name>
        <url-pattern>/PlayAgainServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30 
        </session-timeout>
    </session-config>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>BlackjackRealm</realm-name>
        <form-login-config>
            <form-login-page>/loginpagina.jsp</form-login-page>
            <form-error-page>/LogOut</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description/>
        <role-name>users</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>admins</role-name>
    </security-role>
    <security-constraint>
        <display-name>admins</display-name>
        <web-resource-collection>
            <web-resource-name>admins</web-resource-name>
            <description/>
            <url-pattern>/gebruikers/gebruikertoevoegen.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admins</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>admins</display-name>
        <web-resource-collection>
            <web-resource-name>admins</web-resource-name>
            <description/>
            <url-pattern>/gebruikers/gebruikerdeleten.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admins</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>admins</display-name>
        <web-resource-collection>
            <web-resource-name>admins</web-resource-name>
            <description/>
            <url-pattern>/gebruikers/gebruikerview.jsp</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>admins</role-name>
        </auth-constraint>
    </security-constraint>
    <error-page>
        <error-code>403</error-code>
        <location>/LogOut</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/LogOut</location>
    </error-page>
</web-app>
